doctype html
html.no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel="stylesheet", href=css('main'))
    script(src=js('modernizr'))

  body
    block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="//maps.googleapis.com/maps/api/js?sensor=false&key=#{gmaps.API_KEY}")
    script(src=js("plugins"))
    script(src=js("main"))